* {
  margin: 0;
  padding: 0;
}

body {
  background: #1f2024;
  height: 100vh;
  width: 100%;
}

.logo {
  width: 3vw;
  height: 3vw;
}

.logo div {
  background: white;
  height: 0.3vw;
  margin: 0.5vw;
  position: relative;
  border-radius: 0.5vw;
}

.logo .div1 {
  width: 1.2vw;
  left: 0.9vw;
}

.logo .div2 {
  width: 2.3vw;
}

.logo .div3 {
  width: 1.2vw;
  left: 0.3vw;
}

.barrinhas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.barrinhas div {
  margin: 1.3vw 3vw;
  background: white;
  width: 1.8vw;
  height: 0.1vw;
}

.barrinhas :nth-child(2) {
  background: #fa921f;
  width: 3.5vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw 0 3vw;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  margin: 1vw;
  list-style: none;
}

ul li :hover {
  border-bottom: 0.3vw solid #fa921f;
  color: #ccc;
}

ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1vw;
  padding-bottom: 0.5vw;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.conteudo {
  display: flex;
}

.principal{
  width: 56%;
  margin: 3vw 2vw 1vw 2vw;
}

h1 {
  color: white;
  font-size: 5vw;
  font-weight: 800;
  line-height: 6vw;
  margin: 1vw 1vw 1vw 0;
}

h1 span {
  color: #fa921f;
}

p {
  color: white;
  font-size: 1vw;
}

img {
  height: 100%;
}

.img-robo {
  height: 85vh;
}

svg {
  width: 1.6vw;
  height: 1.6vw;
  color: white;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  /*height: 80vh;*/
  justify-content: center;
  margin: 2vw;
}

.redes-sociais span {
  margin: 1vw;
}

.redes-sociais span :hover {
  color: #fa921f;
  transition: 0.3s;
}

.redes-sociais svg {
  width: 1.4vw;
  height: 1.4vw;
  color: white;
}